[defaults]
inventory = inventory/simpleproxy.linode.yml
roles_path = roles
host_key_checking = True
interpreter_python = auto_silent
retry_files_enabled = False
timeout = 20

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=accept-new -o IdentitiesOnly=yes
pipelining = True
